<h1>Contact List</h1>

<% @contacts.each do |contact| %>

<h2><a href="/contacts/<%= contact.id %>">First Name: <%= contact.first_name %></a></h2>
<h2>Last Name: <%= contact.last_name %></h2>
<h2>Email: <%= contact.email %></h2>
<h2>Phone Number: <%= contact.phone_number %></h2>

<% end %>