
<h2>First Name: <%= @contact.first_name %></h2>
<h2>Last Name: <%= @contact.last_name %></h2>
<h2>Email: <%= @contact.email %></h2>
<h2>Phone Number: <%= @contact.phone_number %></h2>

<a href="/contacts/<%= @contact.id %>/edit">Edit Contacts</a>
<%= link_to "Delete", "/contacts/#{@contact.id}", method: :delete %>