

<h2>Name: <%= @contact.full_name %></h2>
<h2>Email: <%= @contact.email %></h2>
<h2>Phone Number: <%= @contact.phone_number %></h2>
<h5>Last Update: <%= @contact.friendly_updated_at %></h5>

<a href="/contacts/<%= @contact.id %>/edit">Edit Contacts</a>
<%= link_to "Delete", "/contacts/#{@contact.id}", method: :delete %>